div.head
{
	width:100%;
	height:10%;
}

div.topbar
{
	position:absolute;
	width:100%;
	height:30%;
	top:10%;
}

div.colone
{
	position:absolute;
	left:5%;
}

div.coltwo
{
	position:absolute;
	left:17.5%;
}

div.colthree
{
	position:absolute;
	left:30%;
}

div.colfour
{
	position:absolute;
	left:42.5%;
}

div.colfive
{
	position:absolute;
	left:55%;
}

div.colsix
{
	position:absolute;
	left:67.5%;
}

div.colseven
{
	position:absolute;
	left:80%;
}

div.coleight
{
	position:absolute;
	left:92.5%;
}

div.rowone
{
	position:absolute;
	top:13%;
}

div.rowtwo
{
	position:absolute;
	top:16%;
}

div.rowthree
{
	position:absolute;
	top:19%;
}

div.rowfour
{
	position:absolute;
	top:22%;
}

div.rowfive
{
	position:absolute;
	top:25%;
}

div.rowsix
{
	position:absolute;
	top:28%;
}

div.rowseven
{
	position:absolute;
	top:31%;
}

div.roweight
{
	position:absolute;
	top:34%;
}