{% extends "indexbase.html" %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript">
    	$(function() {
    	{% for post in posts %}
    	var s = '{{post.PContent}}'
    	p = s.match(/__url_start__(\S*?)__url_end__/)
    	while (!(p === null)) {
    		s = s.replace(p[0], "<img src='media/" + p[1] + "' />")
    		p = s.match(/__url_start__(\S*?)__url_end__/)
    	}
    	$('#post_{{post.id}}').html(s)
        if (!('{{post.PKeywords}}' === '')) {
            $('#keyword_{{post.id}} td').html('关键词：' + $.trim('{{post.PKeywords}}').replace(/\s+/g,','))
        }
    	{% endfor %}
    });
    </script>
{% endblock %}

{% block title %}论坛主页{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th class="col-lg-4">帖子标题</th>
					<th class="col-lg-2">发帖人</th>
					<th class="col-lg-3">发帖时间</th>
                    <th class="col-lg-3">最后回复时间</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr>
					<td class="col-lg-4">
						<a class="posttitle" href="/bbs_post_detail/{{post.id}}">{{post.PTitle}}</a>
					</td>
					<td class="col-lg-2">{{post.PUserID.bbsuser.UNickname}}</td>
					<td class="col-lg-3">{{post.PTime}}</td>
                    <td class="col-lg-3">{{post.PLastComTime}}</td>
				</tr>
                <tr class="keywords no-up-border" id="keyword_{{post.id}}">
                    <td style="border-top-style: none">关键词:</td>
                </tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if user.user.is_authenticated %}
<div class="reply">
	<hr>
    <label class="btn btn-default mybutton blue" for="fileImage">上传图片</label>
	<input id="fileImage" type="file" style="position:absolute;clip:rect(0 0 0 0);"/>
    <label class="btn btn-default mybutton blue" for="file">上传文件</label>
    <input id="file" type="file" size="30" multiple style="position:absolute;clip:rect(0 0 0 0);"/>
	<form method="POST" class="post-form">{% csrf_token %}
		<p>
            <label for="id_PTitle">标题：</label>
            <input id="id_PTitle" maxlength="90%" name="PTitle" type="text">
        </p>
        <p>
            <label for="id_PContent">内容：</label>
        </p>
        <p>
            <textarea cols="90%" id="id_PContent" name="PContent" rows="10"></textarea>
        </p>
        <p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="id_PTagLocation">地区：</label>
                        <select id="id_PTagLocation" name="PTagLocation">
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label for="id_PTagClass">菜系：</label>
                        <select id="id_PTagClass" name="PTagClass">
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label for="id_PTagPrice">价位：</label>
                        <select id="id_PTagPrice" name="PTagPrice">
                        </select>
                    </div>
                </div>
            </div>
        </p>
        <p>
            <label for="id_PKeywords">关键词：</label>
            <input id="id_PKeywords" maxlength="90%" name="PKeywords" type="text">
        </p>
        <button type="submit" class="save btn btn-default mybutton blue">发帖</button>
	</form>
</div>
{% endif %}
{% endblock %}