{% extends "indexbase.html" %}

{% block title %}论坛主页{% endblock %}

{% block content %}
{% for post in posts %}
	<hr>
	<div class="post">
		<div class="title">
			<a class="posttitle" href="{% url 'postDetail' %}">{{post.PTitle}}</a>
		</div>
		<div class="user">
			{{post.PUserID}}
		</div>
		<div class="posttime">
			{% if post.PTime%}
			{{post.PTime}}
			{% endif %}
		</div>
		<div class="postcontent">
			{{post.id}}
		</div>
	</div>
{% endfor %}
<div class="reply">
	<hr>
	<form method="POST" class="post-form">{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="save btn btn-default">发帖</button>
	</form>
</div>
{% endblock %}