{% extends "indexbase.html" %}

{% block title %}论坛主页{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th class="col-lg-8">帖子标题</th>
					<th class="col-lg-2">发帖人</th>
					<th class="col-lg-2">发帖时间</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr>
					<th class="col-lg-8">
						<a class="posttitle" href="/bbs_post_detail/{{post.id}}">{{post.PTitle}}</a>
					</th>
					<th class="col-lg-2">{{post.PUserID}}</th>
					<th class="col-lg-2">{{post.PTime}}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% if user.user.is_authenticated %}
<div class="reply">
	<hr>
	<input id="fileImage" type="file" size="30"/>
	<form method="POST" class="post-form">{% csrf_token %}
		{% load staticfiles %}
		{{form.as_p}}
		<button type="submit" class="save btn btn-default">发帖</button>
	</form>
</div>
{% endif %}
{% endblock %}