{% load staticfiles %}
<!DOCHTML>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{% block title %}base{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "personalbase.css" %}"/>
</head>

<body>
	<div class="head">
	
	</div>
	<a id="topback" href="{% url 'index' %}">进入论坛</a>
	<div class="personalinfo">
		{% load staticfiles %}
		<img src="{{user.UImage.url}}" alt="Your img"/>
		<div id="status">
			{% if user.UForbidden%}
				您的账号处于正常状态
			{% else %}
				您的帐号处于禁言状态
			{% endif %}
		<div>
		<div id="follows">
			<div id="userfollow">
				<div id="userfollownum">{{ user.UFollowUserNum }}</div>
				<div id="ufollow">关注</div>
			</div>
			<div id="postfollow">
				<div id="postfollownum">{{ user.UFollowPostNum }}</div>
				<div id="pfollow">点赞</div>
			</div>
			<div id="postrelease">
				<div id="postreleasenum">{{ user.UPostNum }}</div>
				<div id="prelease">发布</div>
			</div>
		</div>
		<div id="revise">
			<div id="revisehead">
				<a href="/changeimage/{{user}}">修改头像</a>
			</div>
			<div id="changepassword">
				<a href="/changepassword/{{user}}">修改密码</a>
			</div>
			
		</div>
	</div>
	
	<div class="content">
		{% block content %}{% endblock %}
	</div>
	<a id="bottomback" href="{% url 'index' %}">进入论坛</a>
</body>

</html>