{% extends "indexbase.html" %}

{% block title %}帖子详情{% endblock %}

{% block content %}
<div id="topback">
<button type="button" class="btn btn-default">
	<a href="/changeimage/{{user}}">返回主页</a>
</button>
</div>
{% for comPost in posts %}
	{% if not forloop.first %}
		{% for miniPost in comPost %}
			{% if forloop.first %}
				<hr>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<p class="userimg">
								{% if user.UImage %}
								{% load staticfiles %}
								<img src="{{user.UImage.url}}" alt="Your img"/>
								{% endif %}
							</p>
							<p class="user">
								{{miniPost.PUserID}}
							</p>
							<p class="posttime">
								{{miniPost.PTime}}
							</p>
						</div>
						<div class="postcontent col-lg-9">
							{{miniPost.PContent}}
						</div>
					</div>
				</div>
			{% else %}
				<div class="container">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-9">
							<hr>
							<div class="user">
								{{miniPost.PUserID}}
							</div>
							<div class="posttime">
								{% if miniPost.PTime%}
								{{miniPost.PTime}}
								{% endif %}
							</div>
							<div class="postcontent col-lg-6">
								{{miniPost.PContent}}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		{% for miniPost in comPost %}
			{% if forloop.first %}
			<form method="POST" class="post-form" postid = "{{miniPost.id}}">
			{% csrf_token %}
			{{form.as_p}}
			<input type="button" class="save btn btn-default" postid = "{{miniPost.id}}" value="回复">
			</form>
			{% endif %}	
		{% endfor %}
	{% else %}
	<div class="threadPost">
		<h2>{{comPost.PTitle}}</h2>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<p class="userimg">
						{% if user.UImage %}
						{% load staticfiles %}
						<img src="{{user.UImage.url}}" alt="Your img"/>
						{% endif %}
					</p>
					<p class="user">
						{{miniPost.PUserID}}
					</p>
					<p class="posttime">
						{{miniPost.PTime}}
					</p>
				</div>
				<div class="postcontent col-lg-9">
					{{miniPost.PContent}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% if user.user.is_authenticated %}
<div class="reply">
	<hr>
	<form method="POST" class="post-form">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="save btn btn-default">回复</button>
	</form>
</div>
{% endif %}
<button type="button" class="btn btn-default">
	<a href="/changeimage/{{user}}">返回主页</a>
</button>
{% endblock %}