{% extends "indexbase.html" %}
{% load staticfiles %}
{% block title %}帖子详情{% endblock %}
{%block js%}
    <script type="text/javascript">
    $(function() {
        {% for comPost in posts %}
        {% if not forloop.first %}
            {% for miniPost in comPost %}
                var s = '{{miniPost.PContent}}'
                p = s.match(/__url_start__(\S*?)__url_end__/)
                while (!(p === null)) {
                    s = s.replace(p[0], "<img src='{{BASE_DIR}}/media/" + p[1] + "' />")
                    p = s.match(/__url_start__(\S*?)__url_end__/)
                }
                $('#post_{{miniPost.id}}').html(s)
            {% endfor %}
        {% else %}
        var s = '{{comPost.PContent}}'
        p = s.match(/__url_start__(\S*?)__url_end__/)
        while (!(p === null)) {
            s = s.replace(p[0], "<img src='{{BASE_DIR}}/media/" + p[1] + "' />")
            p = s.match(/__url_start__(\S*?)__url_end__/)
        }
        p = s.match(/__data_start__(\S*?)__data_end__/)
        pli = new Array()
        while (!(p === null)) {
            pli[pli.length] = p[1]
            s = s.replace(p[0], "")
            p = s.match(/__data_start__(\S*?)__data_end__/)
        }
        for (var i = pli.length - 1; i >= 0; i--) {
            $('div.threadPost .row').append($("<div><a href='{{BASE_DIR}}/media/" + pli[i] +  "' >" + pli[i] + "</a></div>"))
        }
        $('#post_{{comPost.id}}').html(s)
        {% endif %}
        {% endfor %}
    });
    </script>

    <script type="text/javascript">
    $(function() {
    	$('input.followBtn').bind("click", function(){
    		if(this.value == '已收藏'){
    			this.value = '收藏';
    		}
    		else{
    			this.value = '已收藏';
    		}
    		var userID = {{request.user.id}};
    		var postID;
    		{% for comPost in posts %}
    			{% if forloop.first %}
    				postID = {{comPost.id}};
    			{% endif %}
    		{% endfor %}
    		$.ajax({
    			url: '/follow_post_deal/',
    			type: 'POST',
    			data: {'userID': userID, 'postID': postID}
    		})
    	})
    });

    $(function() {
    	$('input.likeBtn').bind("click", function(){
    		if(this.value == '已赞'){
    			this.value = '点赞';
    		}
    		else{
    			this.value = '已赞';
    		}
    		var userID = {{request.user.id}};
    		var postID;
    		{% for comPost in posts %}
    			{% if forloop.first %}
    				postID = {{comPost.id}};
    			{% endif %}
    		{% endfor %}
    		$.ajax({
    			url: '/like_post_deal/',
    			type: 'POST',
    			data: {'userID': userID, 'postID': postID}
    		})
    	})
    });

    $(function(){
        $('input.deleteBtn').bind("click", function(){
            var postID = this.id;
            postID = postID.replace("delete", "");
            $.ajax({
                url: '/delete_post_deal/',
                type: 'POST',
                data: {'postID': postID},
                success: function(data, textStatus) {
                    if (data == "delete comment success"){
                        window.location.href = window.location.href;
                    }
                    else if (data == "delete thread success"){
                        window.location.href = "{%url 'index'%}";
                    } 
                }
            })
        })
    });

    function play(response) {
        {%for comPost in posts %}
        {%if forloop.first%}
        for (var i = response.length - 1; i >= 0; i--) {
            if (response[i][0]=="位置") {
                $("#id_PTagLocation").val("{{comPost.PTagLocation}}");
            }else if (response[i][0]=="菜系") {
                $("#id_PTagClass").val("{{comPost.PTagClass}}");
            }else{
                $("#id_PTagPrice").val("{{comPost.PTagPrice}}");
            }
        }
        {%endif%}
        {%endfor%}
    }
    </script>
{% endblock %}

{% block content %}
<div id="topback">
<button type="button" class="btn btn-default">
	<a href="{%url 'index'%}">返回主页</a>
</button>
</div>
{% for comPost in posts %}
	{% if not forloop.first %}
		{% for miniPost in comPost %}
			{% if forloop.first %}
				<hr>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<p class="userimg">
								{% if miniPost.PUserID.bbsuser.UImage %}
								{% load staticfiles %}
								<a href="/personal/{{miniPost.PUserID}}"><img src="{{miniPost.PUserID.bbsuser.UImage.url}}" alt="Your img"/></a>
								{% endif %}
							</p>
							<p class="user">
								<a href="/personal/{{miniPost.PUserID}}">
									{{miniPost.PUserID.bbsuser.UNickname}}
								</a>
							</p>
							<p class="posttime">
								{{miniPost.PTime}}
							</p>
							{% if user.user.is_authenticated %}
                                {% if user.user == miniPost.PUserID or user.UAdmin%}
                                    <input type="button" class="deleteBtn blue mybutton" id="delete{{miniPost.id}}" value="删除">
                                {% endif %}
                            {% endif %}
						</div>
						<div class="postcontent col-lg-9" id = "post_{{miniPost.id}}">
							{{miniPost.PContent}}
						</div>
					</div>
				</div>
			{% else %}
				<div class="container">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-9">
							<hr>
							<div class="user">
								<a href="/personal/{{miniPost.PUserID}}">
									{{miniPost.PUserID.bbsuser.UNickname}}
								</a>
							</div>
							<div class="posttime">
								{% if miniPost.PTime%}
								{{miniPost.PTime}}
								{% endif %}
							</div>
							{% if user.user.is_authenticated %}
                                {% if user.user == miniPost.PUserID or user.UAdmin %}
                                    <input type="button" class="deleteBtn blue mybutton" id="delete{{miniPost.id}}" value="删除">
                                {% endif %}
                            {% endif %}
							<div class="postcontent col-lg-6" id = "post_{{miniPost.id}}">
								{{miniPost.PContent}}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		{% for miniPost in comPost %}
			{% if forloop.first %}
			<form method="POST" class="post-form" postid = "{{miniPost.id}}">
			{% csrf_token %}
			{{form.as_p}}
			<input type="button" class="save btn btn-default blue mybutton" postid = "{{miniPost.id}}" value="回复">
			</form>
			{% endif %}	
		{% endfor %}
	{% else %}
	<div class="threadPost">
		<h2>{{comPost.PTitle}}</h2>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<p class="userimg">
						{% if comPost.PUserID.bbsuser.UImage %}
						{% load staticfiles %}
						<a href="/personal/{{comPost.PUserID}}"><img src="{{comPost.PUserID.bbsuser.UImage.url}}" alt="Your img"/></a>
						{% endif %}
					</p>
					<p class="user">
						<a href="/personal/{{comPost.PUserID}}">
							{{comPost.PUserID.bbsuser.UNickname}}
						</a>
					</p>
					<p class="posttime">
						{{comPost.PTime}}
					</p>
					<p class="LikeNum">
						{{comPost.PLikeNum}} 个人觉得很赞
					</p>
                    {% if user.user.is_authenticated %}
                        {% if user.user == comPost.PUserID or user.UAdmin %}
                            <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="id_PTagLocation">地区：</label>
                                    <select id="id_PTagLocation" name="PTagLocation">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_PTagClass">菜系：</label>
                                    <select id="id_PTagClass" name="PTagClass">
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_PTagPrice">价位：</label>
                                    <select id="id_PTagPrice" name="PTagPrice">
                                    </select>
                                </div>
                            </div>
                            </div>
                            <input type="button" class="deleteBtn blue mybutton" id="delete{{comPost.id}}" value="删除">
						{% else %}
                            <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="id_TagLocation">地区：</label>
                                    <span id="id_TagLocation">{{comPost.PTagLocation}}
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_TagClass">菜系：</label>
                                    <span id="id_TagClass">{{comPost.PTagClass}}
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_TagPrice">价位：</label>
                                    <span id="id_TagPrice">{{comPost.PTagPrice}}
                                    </span>
                                </div>
                            </div>
                            </div>
							{% if haveFollowed %}
								<input type="button" class="followBtn blue mybutton" value="已收藏">
							{% else %}
								<input type="button" class="followBtn blue mybutton" value="收藏">
							{% endif %}
							{% if haveLiked %}
								<input type="button" class="likeBtn blue mybutton" value="已赞">
							{% else %}
								<input type="button" class="likeBtn blue mybutton" value="点赞">
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
				<div class="postcontent col-lg-9" id = "post_{{comPost.id}}">
					{{comPost.PContent}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% if user.user.is_authenticated %}
<div class="reply">
	<hr>
    <label class="btn btn-default mybutton blue" for="fileImage">上传图片</label>
	<input id="fileImage" type="file" style="position:absolute;clip:rect(0 0 0 0);"/>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<p>
            <label for="id_PContent">内容：</label>
        </p>
        <p>
            <textarea cols="90%" id="id_PContent" name="PContent" rows="10"></textarea>
        </p>
        <button type="submit" class="save btn btn-default blue mybutton">回复</button>
	</form>
</div>
{% endif %}
<button type="button" class="btn btn-default">
	<a href="{%url 'index'%}">返回主页</a>
</button>
{% endblock %}