{% extends "indexbase.html" %}
{% load staticfiles %}

{% block title %}搜索用户结果{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<table class="table">
			<caption>搜索结果</caption>
			<thead>
				<tr>
					<th class="col-lg-6">用户名</th>
					<th class="col-lg-3">发帖数</th>
					<th class="col-lg-3">状态</th>
				</tr>
			</thead>
			<tbody>
				{% if users %}
                {% for user in users %}
				<tr>
					<th class="col-lg-6"><a href="{%url 'personal' user.user%}">{{user.UNickname}}</a></th>
					<th class="col-lg-3">{{user.UPostNum}}</th>
					<th class="col-lg-3">
						{% if user.UForbidden %}
                        禁言中
                        {% else %}
                        正常
                        {% %}
					</th>
				</tr>
				{% endfor %}
                {% else %}
                无相关搜索结果
                {% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}