{% load staticfiles %}
<!DOCHTML>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{% block title %}base{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "fantongbbs/index1.css" %}"/>
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function () {
        $.ajax({
            url: "/ajax_get_tag/",
            type: "GET",
            success: function(response, status, xhr) {
                for (var i = response.length - 1; i >= 0; i--) {
                    if (response[i][0]=="位置") {
                        $('#taglocation').append("<li><a href=\"/search_by_tag/" + response[i][1] + "__/\">" + response[i][1] + "</a></li>")
                    }else if (response[i][0]=="菜系") {
                        $('#tagclass').append("<li><a href=\"/search_by_tag/_" + response[i][1] + "_/\">" + response[i][1] + "</a></li>")
                    }else{
                        $('#tagprice').append("<li><a href=\"/search_by_tag/__" + response[i][1] + "/\">" + response[i][1] + "</a></li>")
                    }
                }
            }
        });
    })
	</script>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{%url 'index'%}">清青饭桶</a>
        </div>
        <div class="kind">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{%url 'index'%}">论坛主页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        区域
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="taglocation">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        菜系
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="tagclass">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        价位
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="tagprice">
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        排行
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" id="tagprice">
                    <li><a href="/rank/visit">访问量排行</a></li>
                    <li><a href="/rank/like">点赞数排行</a></li>
                    <li><a href="/rank/reply">回复数排行</a></li>
                    </ul>
                </li>
                <li><a href="#">小黑屋圈</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a href="/personal/{{request.user}}">个人主页</a></li>
                <li><a href="/accounts/logout">登出</a></li>
                {% else %}
                <li><a href="/accounts/login">登录</a></li>
                {% endif %}
            </ul>
            <form action = "." method = "POST" class="navbar-form navbar-right" role="search">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name = "search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
        </div>
    </nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p>
					{% if visitedUser.UImage %}
					{% load staticfiles %}
					<img src="{{visitedUser.UImage.url}}" alt="Your img"  height="230" width="230"/>
					{% endif %}
				</p>
				<p><div id="username">{{visitedUser.UNickname}}</div><p>
				<p>
					{% if haveFollowed %}
					<input type="button" class="followBtn mybutton blue" value="已关注">
					{% else %}
					<input type="button" class="followBtn mybutton blue" value="关注">
					{% endif %}
				</p>
				<p id="follows">
					<div id="userfollow" class="col-lg-2">
						<p id="userfollownum">{{ visitedUser.UFollowUserNum }}</p>
						<div id="ufollow">关注</div>
					</div>
					<div id="postrelease" class="col-lg-2">
						<p id="postreleasenum">{{ visitedUser.UPostNum }}</p>
						<div id="prelease">发布</div>
					</div>
				</p>		
			</div>
			<div class="col-lg-8">
				<div class="postinfo">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								{% if not post.Pdelete %}
								<tr>
									<th class="col-lg-6">
				                        {%if not post.PParentID %}
										  <a class="posttitle" href="/bbs_post_detail/{{post.id}}">{{post.PTitle}}</a>
				                        {%else%}
				                        {%if post.PParentID %}
				                        {%if not post.PParentID.PParentID%}
				                          <a class="posttitle" href="/bbs_post_detail/{{post.PParentID.id}}">回复：{{post.PParentID.PTitle}}</a>
				                        {%else%}
				                            <a class="posttitle" href="/bbs_post_detail/{{post.PParentID.PParentID.id}}">回复：回复：{{post.PParentID.PParentID.PTitle}}</a>
				                        {%endif%}
				                        {%endif%}
				                        {%endif%}
									</th>
									<th class="col-lg-3">{{post.PTime}}</th>
								</tr>
								{%endif%}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="{% static "fantongbbs/jquery.min.js" %}"></script>
	<script type="text/javascript">
		$.ajaxSetup({
    	data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
	</script>
	<script type="text/javascript">
		$(function() {
    $('input.followBtn').bind("click", function() {
        if (this.value == '已关注')
        {
            this.value = '关注';
        }
        else
        {
            this.value = '已关注';
        }
        var user1ID = {{request.user.id}};
        var user2ID = {{visitedUser.user.id}};
        $.ajax({ url: '/follow_user_deal/',
            type: 'POST',
            data: { 'user1ID': user1ID, 'user2ID': user2ID,},
            success: function(data, textStatus){
            }
        })
    })
    return true;
});
	</script>
</html>